<!DOCTYPE html>
<html lang="en">
<head>
  <title>ResLib.net | Online Resource Network</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" id="top-nav">
    <div class="container" id="top-nav-wrapper">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div id="logo-div">
          <%= link_to image_tag("logo147x45.png"), root_path, :class => "logo-brand" %>
        </div>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/"></a></li>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_index_path %></li>
          <li><%= link_to "Books", books_path %></li>
          <li><%= link_to "Albums", albums_index_path %></li>
          <li><%= link_to "Videos", videos_index_path %></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#admin">Admin</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

    <%= yield %>


<div class="container">
  <footer>
    <p>&copy; 2016 ResLib.net</p>
  </footer>
</div>
</body>
</html>
